@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}
:root {
    --modal-duration: 1s;
    --primary-color: #30336b;
    --secondary-color: #be2edd;
}
body {
    font-family: 'Single Day', cursive;
    transition: transform 1s ease;
}
body.show_nav{
    transform: translateX(200px);
}
li {
    list-style-type: none;
}
.crumb {
    margin:10px 0;
    border-bottom:1px solid #000;
}
.header {
    font-family: 'Single Day', cursive;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 130%;
    text-align:center;
    position:relative;
}
nav {
    background-color: var(--primary-color);
    border-right: 2px solid rgba(200, 200, 200, 0.1);
    color: #fff;
    width:200px;
    height:100vh;
    position:fixed;
    transform: translateX(-100%);
}
nav .logo {
    padding: 30px 0;
    text-align: center;
  }
  
  nav .logo img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
  }
  
  nav ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
  }
  
  nav ul li {
    border-bottom: 2px solid rgba(200, 200, 200, 0.1);
    padding: 20px;
  }
  
  nav ul li:first-of-type {
    border-top: 2px solid rgba(200, 200, 200, 0.1);
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  header {
    background-color: var(--primary-color);
    color: #fff;
    font-size: 130%;
    position: relative;
    padding: 40px 15px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  header p {
    margin: 30px 0;
  }

button,
input[type="submit"] {
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 8px 12px;
}
.toggle_nav {
    background-color: rgba(0, 0, 0, 0.3);
    position:absolute;
    top:20px;
    left:20px;
}
.container {
    font-family: 'Single Day', cursive;
    margin: 20px auto 0;
    padding-left: 10px;
    max-width: 100%;
    width: 800px;
}

.modal_container {
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.6);
    display:none;
    /*  width:100vw, height:100vh로도 충분 */
}

.modal_container.show_modal {
    display:block;
}

.modal {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 400px;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
  }
  
  .modal_header {
      display: flex;
      justify-content: space-between;
      align-items:center;
      background: var(--primary-color);
      color: #fff;
      padding: 10px 0px 10px 20px;
  }

  .modal_header h3 {
      margin: 0;
  }

  .modal_content {
      padding: 20px;
  }

  .modal_form > div {
    margin: 15px 0;
  }

  .modal_form label {
      display: block;
      margin-bottom: 5px;
  }

  .modal_form .form_input {
      padding:8px;
      width: 100%;
  }

  .close_btn {
      background: transparent;
      font-size: 25px;
  }

  @keyframes modalopen {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  